<a href="https://colab.research.google.com/github/osoliman/HTM737/blob/main/First_Python_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a string variable
mname = 'John'

In [ ]:
print(mname)

John

In [ ]:
print(mname[0:2]) #the value after the colon is NOT included
#which means read up to 2
#what we did here is that we sliced the string by index which is the order, location of the character

Jo

In [ ]:
MCPHS_zip_code = '02115-2345'

In [ ]:
print(MCPHS_zip_code[0:5])

02115

In [ ]:
print(MCPHS_zip_code[-1])

5

In [ ]:
john_age = 65

In [ ]:
print(john_age)

65

In [ ]:
print(john_age - 5)

60

In [ ]:
2 * 2

4

In [ ]:
john_weight = 150.7 #this is float because it has decimals

In [ ]:
print(int(john_weight))
#integer rounds down (cut the decimal)
#integr has no decimals

150

In [ ]:
john_weight_int = 150

In [ ]:
print(float(john_weight_int))

150.0

In [ ]:
john_weight_str = str(john_weight_int) #converted to text

In [ ]:
print(john_weight_int /2)

75.0

In [ ]:
print(john_weight_str /2) #error because we cannot do math operations on text

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
first_list = ['a', 1]

In [ ]:
print(first_list[0])

a

In [ ]:
first_list[0] = 'ab'

In [ ]:
print(first_list)

['ab', 1]

In [ ]:
first_tuple = ('a', 1)

In [ ]:
first_tuple[0]

'a'

In [ ]:
first_tuple[0] = 'ab'

TypeError: 'tuple' object does not support item assignment

In [ ]:
first_dict = {'john_age':65, 'heather_age':45}

In [ ]:
print(first_dict['john_age'])

65

In [ ]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]

To perform a union of two lists, we can convert them to sets and then use the union operator or method.

In [ ]:
# Using the union operator |
union_list = list(set(list1) | set(list2))
print(union_list)

# Using the union method
union_list_method = list(set(list1).union(set(list2)))
print(union_list_method)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
first_set = set(first_list)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

To perform a union of two sets, we can use the union operator `|` or the `union()` method.

In [ ]:
# Using the union operator |
union_set = set1 | set2
print(union_set)

# Using the union method
union_set_method = set1.union(set2)
print(union_set_method)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
def f_to_c(temp_f):
  temp_c = round((temp_f - 32) * 5/9,1)
  return temp_c

In [ ]:
f_to_c(45)

7.2

In [ ]:
def my_secret_function(w,h):
  bmi = w / h**2
  return bmi

In [ ]:
my_secret_function(h=1.7, w=65)

22.49134948096886

In [ ]:
def calculate_bmi_category(weight_kg, height_m):
    bmi = weight_kg / (height_m ** 2)

    if bmi < 18.5:
        return f"BMI: {bmi:.1f} - Underweight"
    elif bmi < 25:
        return f"BMI: {bmi:.1f} - Normal weight"
    elif bmi < 30:
        return f"BMI: {bmi:.1f} - Overweight"
    else:
        return f"BMI: {bmi:.1f} - Obese"

In [ ]:
calculate_bmi_category(height_m=1.71, weight_kg=80)

'BMI: 27.4 - Overweight'

In [ ]:
import pandas as pd